* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Anek Latin", sans-serif !important;
}

/* Team */
.team {
  background: #fff;
  padding: 60px 0;
}

.member_Container {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;

  width: fit-content;
}
.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.team .member .member-info-content {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}
.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}
.team .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: #4e403999;
  text-align: center;
}
.team .member .social a {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin-top: 15px;
}
.team .member .social a:hover {
  color: #eb5d1e;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.team .member:hover .member-info {
  background: linear-gradient(
    0deg,
    #4e4039f2 0%,
    #4e4039f2 15%,
    #ffffff00 100%
  );
  opacity: 1;
  transition: 0.4s;
}
.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}
.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

header {
  display: block;
  width: 100%;
}

header .topHeader {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 9px #2525254d;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
}

header .topHeader > * {
  width: 45%;
}

header .topHeader .topHeaderLogo img {
  width: 2rem;
  padding-left: 40px;
}

header .topHeader .topHeaderLinks {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .topHeader .topHeaderLinks a {
  font-weight: 400;
  display: block;
  margin: 0px 0;
  padding: 1px 9px;
  font-size: 1rem;
  color: #252525d1;
  cursor: pointer;
}

header .topHeader .topHeaderLinks a.active {
  color: #eb5d1e;
}

header .topHeaderCoverUp {
  padding: 10vh;
}

header .bodyHeader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to bottom, #ffffff, #c66b4455, #ffffff);
}

header .bodyHeader .bodyHeaderText {
  width: 40%;
  font-family: "Poppins", sans-serif !important;
}

header .bodyHeader .bodyHeaderText h4 {
  font-size: 2.3rem;
  color: #eb5d1e;
  margin: 0 0 15px;
}

header .bodyHeader .bodyHeaderText p {
  font-size: 1.3rem;
}

header .bodyHeader .bodyHeaderText button {
  background: #eb5d1e;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  padding: 12px 28px;
  color: #ffffff;
  display: inline-block;
  margin: 25px 0;
  cursor: pointer;
}

header .bodyHeader .bodyHeaderImage {
  width: 50%;
  text-align: center;
}

header .bodyHeader .bodyHeaderImage img {
  width: 50%;
}

.componentBlock {
  margin: 10vh auto;
}

.componentBlock h3 {
  text-align: center;
  font-size: 2rem;
  margin: 40px auto 0;
  text-transform: capitalize;
}

.componentBlock h3::after {
  content: " ";
  position: relative;
  display: block;
  width: 15%;
  margin: 2px auto;
  background: #eb5d1e;
  padding: 2px;
  border-radius: 5px;
}

.componentBlock > p {
  font-size: 0.8rem;
  text-align: center;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: oblique;
  margin: 12px 0;
}

.componentBlock .aboutBlocks {
  display: flex;
  margin: 30px auto;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.componentBlock .aboutBlocks .aboutBlock {
  width: 45%;
}

.componentBlock .aboutBlocks .aboutBlock lottie-player {
  width: 75%;
  display: block;
  margin: 10px auto;
  background: transparent;
}

.componentBlock .aboutBlocks .aboutBlock .aboutInfo p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: oblique;
  margin: 20px 0;
}

.componentBlock .aboutBlocks .aboutBlock .aboutInfo .aboutInfoFlex {
  display: flex;
  margin: 30px auto;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.componentBlock
  .aboutBlocks
  .aboutBlock
  .aboutInfo
  .aboutInfoFlex
  .aboutInfoFlexBlock {
  width: 50%;
}

.componentBlock
  .aboutBlocks
  .aboutBlock
  .aboutInfo
  .aboutInfoFlex
  .aboutInfoFlexBlock
  svg {
  font-size: 2rem;
  color: #eb5d1e;
}

.componentBlock
  .aboutBlocks
  .aboutBlock
  .aboutInfo
  .aboutInfoFlex
  .aboutInfoFlexBlock
  h4 {
  font-size: 1.2rem;
  color: #eb5d1e;
}

.componentBlock
  .aboutBlocks
  .aboutBlock
  .aboutInfo
  .aboutInfoFlex
  .aboutInfoFlexBlock
  p {
  font-size: 0.8rem;
  width: 80%;
  font-weight: 300;
  font-family: "Poppins", sans-serif !important;
}

.componentBlock .servicesBlocks {
  display: flex;
  margin: 30px auto;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.componentBlock .servicesBlocks .serviceBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 30px 20px;
  width: 45%;
}

.componentBlock .servicesBlocks .serviceBlock .serviceInfo {
  width: 45%;
}

.componentBlock .servicesBlocks .serviceBlock .serviceInfo h4 {
  width: 80%;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 3px auto;
  color: #eb5d1e;
}

.componentBlock .servicesBlocks .serviceBlock .serviceInfo p {
  width: 80%;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 3px auto;
  font-family: "Poppins", sans-serif !important;
}

.componentBlock .portfolioGroups {
  text-align: center;
  padding: 12px 0;
  margin: 20px 0;
}

.componentBlock .portfolioGroups label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #eb5d1e;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 25px;
  background: transparent;
  margin: 6px 12px;
  cursor: pointer;
}

.componentBlock .portfolioGroups label.active {
  color: #ffffff;
  background: #eb5d1e;
}

.componentBlock .portfolioBlocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 0;
  margin: 12px auto;
  width: 90%;
}

.componentBlock .portfolioBlocks .portfolioBlock {
  width: 18%;
  align-items: center;
  padding: 80px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #252525b7 no-repeat center;
  background-size: cover;
  margin: 12px 12px;
  transform: scale(0, 0);
  opacity: 0;
  position: absolute;
  transition: all 0s;
}

.componentBlock .portfolioBlocks .portfolioBlock.active {
  transform: scale(1, 1);
  opacity: 1;
  transition: all 0.5s;
  position: unset;
}

.componentBlock .portfolioBlocks .portfolioBlock:hover {
  background-blend-mode: darken;
}

.componentBlock .portfolioBlocks .portfolioBlock p,
.componentBlock .portfolioBlocks .portfolioBlock label {
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  transform: scale(0, 0);
  transition: all 0.4s;
  opacity: 0;
  color: #efefef;
}

.componentBlock .portfolioBlocks .portfolioBlock p {
  font-size: 1.3rem;
  font-weight: 600;
}

.componentBlock .portfolioBlocks .portfolioBlock label {
  font-size: 0.7rem;
}

.componentBlock .portfolioBlocks .portfolioBlock:hover p,
.componentBlock .portfolioBlocks .portfolioBlock:hover label {
  transform: scale(1, 1);
  transition: all 0.4s;
  opacity: 1;
}

.componentBlock .faqsBlocks {
  width: 80%;
  margin: 20px auto;
}

.componentBlock .faqsBlocks .faqblock {
  margin: 12px auto 2px;
  padding: 16px 0 6px;
  border-radius: 7px;
}

.componentBlock .faqsBlocks .faqblock .faqQuestion {
  padding: 0 20px 20px;
  border-bottom: 2px solid #eb5c1e50;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  cursor: pointer;
}

.componentBlock .faqsBlocks .faqblock .faqQuestion svg {
  display: block;
  margin: 2px 12px;
  transform: rotate(-90deg);
  transition: all 0.6s;
}

.componentBlock .faqsBlocks .faqblock.active .faqQuestion svg {
  transform: rotate(0deg);
  transition: all 0.6s;
}

.componentBlock .faqsBlocks .faqblock .faqAnswer {
  padding: 0;
  opacity: 0;
  transition: all 0.6s;
  height: 0;
}

.componentBlock .faqsBlocks .faqblock.active .faqAnswer {
  opacity: 1;
  padding-top: 20px;
  transition: all 0.6s;
  height: auto;
}

.componentBlock .contactFlex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 40px auto 20px;
}

.componentBlock .contactFlexInfo {
  width: 30%;
}

.componentBlock .contactFlexInfo .contactInfoFlex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin: 10px auto 30px;
  border-left: 3px solid #eb5d1e;
  background: #ffffff;
  box-shadow: 5px 3px 5px #25252521;
  padding: 20px 20px;
  border-radius: 0 4px 4px 0;
}

.componentBlock .contactFlexInfo .contactInfoFlex:hover {
  box-shadow: 8px 6px 9px #25252541;
}

.componentBlock .contactFlexInfo .contactInfoFlex .contactInfoFlexText {
  width: 50%;
}

.componentBlock .contactFlexInfo .contactInfoFlex .contactInfoFlexIcon {
  width: 18%;
}

.componentBlock .contactFlexInfo .contactInfoFlex .contactInfoFlexIcon svg {
  background: #eb5d1e;
  padding: 12px;
  border-radius: 25%;
  color: #ffffff;
  font-weight: 900;
  font-size: 1.4rem;
}

.componentBlock .contactFlexInfo .contactInfoFlex .contactInfoFlexText h4 {
  font-size: 1.2rem;
}

.componentBlock .contactFlexInfo .contactInfoFlex .contactInfoFlexText p {
  font-size: 0.9rem;
  padding: 7px 0;
}

.componentBlock .contactFlexForm {
  width: 50%;
  border-left: 3px solid #eb5d1e;
  padding-left: 30px;
  background: #ffffff;
}

.componentBlock .contactFlexForm .contactFormInputFlex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
}

.componentBlock .contactFlexForm .contactFormInputFlex div {
  width: 45%;
}

.componentBlock .contactFlexForm form label {
  width: 90%;
  display: block;
  font-weight: 700;
  font-size: 0.79rem;
}

.componentBlock .contactFlexForm form input,
.componentBlock .contactFlexForm form textarea {
  width: 70%;
  display: block;
  padding: 18px 0 3px 8px;
  border-bottom: 1px solid #eb5d1e;
  margin: 5px 0 20px;
  resize: none;
  font-size: 0.8rem;
  font-family: "Anek Latin", sans-serif !important;
}

.componentBlock .contactFlexForm form button {
  width: 25%;
  display: block;
  padding: 18px 5px;
  background: #eb5d1e;
  margin: 5px 0 12px;
  resize: none;
  font-size: 0.85rem;
  color: #ffffff;
  font-weight: 700;
  border-radius: 8px;
}

.componentBlock .contactFlexForm form button:disabled,
.componentBlock .uploadForm .uploadFormInputFlex button:disabled {
  padding: 12px 5px;
}

.componentBlock .contactFlexForm form button svg,
.componentBlock .uploadForm .uploadFormInputFlex button svg {
  animation: loadingForm 1s infinite;
  font-size: 1.6em;
}

@keyframes loadingForm {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.componentBlock .contactFlexForm form button:hover {
  background: linear-gradient(to bottom right, transparent, #eb5d1e);
}

.componentBlock .uploadForm {
  display: block;
  text-align: center;
  width: 90%;
  margin: 10px auto;
}

.componentBlock .uploadForm .uploadFormInputFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 45%;
  border: 1px solid #eb5d1e;
  border-radius: 8px;
  margin: 25px auto;
}

.componentBlock .uploadForm .uploadFormInputFlex input {
  width: 75%;
  padding: 12px 30px;
  font-size: 0.8rem;
  font-weight: 700;
  color: #252525e5;
  border-radius: 8px 0 0 8px;
  font-family: "Anek Latin", sans-serif !important;
}

.componentBlock .uploadForm .uploadFormInputFlex input[type="file"] {
  display: none;
}

.componentBlock .uploadForm .uploadFormInputFlex button {
  width: 25%;
  border-radius: 0 4px 4px 0;
  background: #eb5d1e;
  color: #efefef;
  font-weight: 800;
  padding: 16px 12px;
  font-size: 0.8rem;
}

.componentBlock .missionBrief {
  margin: 15px;
  padding: 10px;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-self: center;
}

.componentBlock .missionBlocks {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin: 12px auto;
  width: 90%;
}

.componentBlock .missionBlocks .missionBlock {
  width: 18%;
  align-items: center;
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px;
  background: #ffffff;
  line-height: 30px;
  border-left: 2px solid #eb5d1e;
  border-top: 3px solid #eb5d1e;
  border-radius: 10px 10px 0 10px;
  box-shadow: 5px 3px 5px #25252521;
  font-weight: 500;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  header .topHeader {
    justify-content: flex-start;
  }
  header .topHeader .topHeaderLinks {
    display: none;
  }

  header .bodyHeader .bodyHeaderImage {
    display: none;
  }

  header .bodyHeader .bodyHeaderText {
    width: 95%;
    font-family: "Poppins", sans-serif !important;
  }

  .componentBlock .aboutBlocks {
    width: 95%;
    flex-direction: column;
  }

  .componentBlock .aboutBlocks .aboutBlock {
    margin: 5px auto;
    width: 95%;
  }

  .componentBlock .aboutBlocks .aboutBlock lottie-player {
    width: 90%;
  }

  .componentBlock .aboutBlocks .aboutBlock .aboutInfo .aboutInfoFlex {
    width: 95%;
    flex-direction: column;
  }

  .componentBlock
    .aboutBlocks
    .aboutBlock
    .aboutInfo
    .aboutInfoFlex
    .aboutInfoFlexBlock {
    width: 90%;
  }

  .componentBlock .servicesBlocks {
    width: 95%;
    flex-direction: column;
  }

  .componentBlock .servicesBlocks .serviceBlock {
    flex-direction: column;
    margin: 30px auto;
    width: 95%;
  }

  .componentBlock .servicesBlocks .serviceBlock .serviceInfo {
    width: 90%;
    text-align: center;
  }

  .componentBlock .member_Container {
    width: 95%;
    align-items: center;
    width: auto;
    flex-direction: column;
  }

  .componentBlock .portfolioBlocks {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .componentBlock .portfolioBlocks .portfolioBlock {
    width: 80%;
  }

  .componentBlock .faqsBlocks {
    width: 90%;
    margin: 20px auto;
  }

  .componentBlock .faqsBlocks .faqblock .faqQuestion {
    padding: 0 6px 20px;
  }

  .componentBlock .contactFlex {
    flex-direction: column;
  }

  .componentBlock .contactFlexInfo {
    width: 95%;
    margin: 5px auto;
  }

  .componentBlock .contactFlexForm {
    width: 95%;
    margin: 5px auto;
    padding-left: 10px;
  }

  .componentBlock .contactFlexForm .contactFormInputFlex div {
    width: 50%;
  }

  .componentBlock .contactFlexForm form input,
  .componentBlock .contactFlexForm form textarea {
    width: 90%;
  }

  .componentBlock .contactFlexForm form button {
    width: 40%;
  }

  .componentBlock .uploadForm .uploadFormInputFlex {
    width: 95%;
  }

  .componentBlock .uploadForm .uploadFormInputFlex input {
    width: 55%;
  }

  .componentBlock .uploadForm .uploadFormInputFlex button {
    width: 45%;
  }

  .componentBlock .missionBlocks {
    display: flex;
    flex-direction: column;
  }

  .componentBlock .missionBlock {
    width: 200px !important;
  }
}
